.searchbar form {
  display: flex;
  align-items: center;
}

.searchbar input {
  margin-left: 10px;
  height: 2rem;
  font-size: 1.3rem;
}

.searchbar input:focus {
  outline: none;
}

.searchbar label {
  font-size: 1.2rem;
}
